/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/

.header { background-color: orange; text-align: center;
          height: 90px;
        top: 0;

}
.div { background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.caracteristicas.co%2Fperro%2F&psig=AOvVaw0zXSWOSAZM4GzOCj7CtlN4&ust=1664936279190000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJiT8JXBxfoCFQAAAAAdAAAAABAD');
    
    
}

.body { background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.caracteristicas.co%2Fperro%2F&psig=AOvVaw0zXSWOSAZM4GzOCj7CtlN4&ust=1664936279190000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJiT8JXBxfoCFQAAAAAdAAAAABAD ")
    
    
}